<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="cover.css" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <title>Cover_Covid_App</title>
</head><ion-header >
  <ion-toolbar [translucent]="true">


      

      <ion-buttons slot="end">
          <ion-button>
              <ion-icon name="notifications" class="zz"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  
  <div class="container">
    <ion-card class="top-header">
      <div class="qweqwe">
        <div>
      <ion-label class="b">  Covid-19</ion-label></div>
      <div class="b2"> <ion-label class="b1">  Are you feeling sick?</ion-label></div>
        <ion-label>   <p>
        If you feel sick with any of covid-19 symptoms please call or SMS us immediately for help
      </p></ion-label>
    </div>
      <div class="buttons">
        <a class="z" ><button ion-button class="btn btn-call">Call</button></a>
        <a class="z" ><button ion-button class="btn btn-send">Message</button></a>
      </div>
    </ion-card>
    <div class="main">
      <h2>Prevention</h2>
      <div class="prevention">
        <div>
          <ion-img src="../assets/icon/social-distancing.png"></ion-img>
          <ion-label class="b3">Social Distancing</ion-label>
        </div>
        <div>
          <ion-img src="../assets/icon/wash-hands.png" ></ion-img>
          <ion-label class="b3"> Wash hands</ion-label>
        </div>
        <div>
          <ion-img src="../assets/icon/wear-mask.png" ></ion-img>
          <ion-label class="b3"> Wear Face Mask</ion-label>
        </div>
      </div>
    </div>
    <ion-card class="lower-header">
      <ion-img src="../assets/icon/wash-hands.png"></ion-img>
      <div class="tips">
        <ion-label> <h2>Do your own Test</h2></ion-label>
        <p>
          Follow the instructions to do your own test.
        </p>
      </div>
    </ion-card>
  </div>
  <script
    src="https://kit.fontawesome.com/84ca6540d0.js"
    crossorigin="anonymous"
  ></script>
</ion-content>
