<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Covid Dashboard</title>
</head>
<ion-header [translucent]="true">

</ion-header>

<ion-content color="primary" [fullscreen]=" true " class="container ">

    <div class="dashboard ">
        <div class="dashboard-text ">
            <ion-label>
                <h2>Covid Cases</h2>
            </ion-label>
            <ion-label>
                <h3>Cagayan de Oro City</h3>
            </ion-label>
        </div>
        <div class="user-image">

            <ion-img src="../assets/icon/logo.png "></ion-img>

        </div>
        <div class="dashboard-buttons ">
            <a class="z" routerLink='/tab'><button ion-button class="btn btn-covid">Proceed</button></a>
           

        </div>

    </div>
</ion-content>